.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    opacity: 0.9;
    height: 20%;
    position: sticky;
}

.header img{
    padding-top: 20px;
    max-height: 120px;
    height:50% ;
    width: auto;
    margin: 0 20px;
}