.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    opacity: 0.9;
    height: 20%;
    position: sticky;
}

.header img{
    max-height: 150px;
    height:100% ;
    width: auto;
    margin: 0 20px;
}