*{
  font-family: 'DM Sans';
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .instructions {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .instruction-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 30px;
    margin-top: -40px;
  }
  
  .txt-input {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(241, 119, 13);
    color: rgb(241, 119, 13); /* Orange text */
    font-weight: bold; /* Bold text */
    padding:10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  #price-box{
    margin-top: -16%;
    padding-top: none;
    max-width: 80%;
  }
  #target-price{
    border: none;
    border-radius: 5px 0 0 5px; 
    max-width: 85%;
    margin: 0px;
  }
  #target-price:focus{
    outline: none;
  }
  
  .inputinfo{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(241, 119, 13);
    border-radius: 6px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .inputinfo button {
    margin: 0;
    max-width: 15%;
    height: 100%;
    background-color: #fab002;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fab002;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:disabled {
    cursor: not-allowed;
  }

  @media (max-width: 600px) {
    .loader {
      width: 80px;
      height: 80px;
      border-width: 12px;
    }
  
    button {
      padding: 15px;
      font-size: 18px;
    }
  }

  .card {
    background-color: #1e1e1e;
    color: aliceblue;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: left;
    flex-direction: row;
    height: 75%;
    max-height: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
    opacity: 0.7;
    padding: 10px;
    border: 1px solid orange;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
  
  .card img {
    max-height: 80%;
    height: 80%;
    width: 80%;
    max-width: 25%;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .card:hover {
    background-color: rgb(72, 65, 65);
    border-width: 2px;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 ;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-content h1 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .card-content .price {
    margin-top: 10px;
    font-size: 1.2em;
    color: #f1a10d;
  }
/*   
  @media (max-width: 600px) {
    .card {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .card img {
      width: 100px;
      margin-right: 10px;
    }
  
    .card-content {
      align-items: flex-start;
      text-align: left;
    }
  
    .card-content h1 {
      font-size: 1.2em;
    }
  
    .card-content .price {
      font-size: 1em;
    }
  } */

#contain{
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
}

