*{
    color: aliceblue;
    
}

.imagecomp{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    width: auto;
    padding-bottom: 50px;
}



.imagecomp input{
    display: block;
}

.imagecomp img{
    max-height: 300px;
    height: ;
    width: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}
