*{
    color: aliceblue;
    
}

.imagecomp{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    width: auto;
    padding-bottom: 50px;
}



.imagecomp input{
    display: block;
    border-radius: 10px;
    height: 10%;
    width: 100px;
}

.imagecomp img{
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
/* Hide the native file input */
input[type="file"] {
    display: none;
  }
  
  /* Style the custom button */
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(241, 119, 13);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* .custom-file-upload:hover {
    background-color: #0056b3;
  } */
  
  .custom-file-upload:active {
    background-color: #004080;
  }

  .imagecomp button{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(241, 119, 13);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  