.card{
    background-color:#1e1e1e;
    color: aliceblue;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
    margin: 20px;
    height: 30%;
    margin: 20px 50px;
    border-radius: 30px;
    border-color: orange;
    opacity: 0.7;
}
    

.card img{
    
    max-height: 90%;
    height: 100px;

    margin: 20px;
    

}